@import "src/infrastructure/assets/scss/variables.scss";
@import "src/infrastructure/assets/scss/mixins.scss";

.result-box__container{
    @include main-layout;
}

.result-box{
    width: $box_width;
    height: $box_height;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    @media (max-width: 1000px) {
        width: $box_width_mobile;
        height: $box_height_mobile;
    }

    &__image{
        width: 100%;
    }
    
    &__text-content{
        width: $box_width;
        height: $box_height;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        text-align: center;
        opacity: 0;
        font-size: 18px;
        line-height: 20px;
        display: table; 
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: $color_grey;
    
        &--albums{
            background: rgba($color_yellow, .9);
            color: $color_black;
        }
    
        &--artists{
            background: rgba($color_black, .9);
        }
    
        &--tracks{
            background: rgba($color_blue, .9);
        }

        &--disabled{
            cursor: not-allowed;
        }
    
        &:hover{
            opacity: 1;
            transition: opacity 0.3s linear;
        }
    }
    
    &__text{
        display: table-cell; 
        vertical-align: middle;
        padding: 0 10px;
    }
}

